h1{
font-family: 'Cinzel', serif;
color:black;
text-align:center;
}

body{
margin-top:200px;
background-color:#F9EBEA;
}

.detalle{
text-align:center;
font-weight:bold;
}

form{
text-align:center;
font-weight:bold;
}

.cantpersonas{
font-weight:bold;
text-decoration:underline;
text-align:center;
color:blue;
}

table{
font-weight:bold;
color:black;
display-grid:inline;
margin-left:700px;
margin-top:20px;
}

a{
text-decoration:none;
color:black;
font-weight:bold;
}

a:hover{
color:blue;
}

.agregar{
text-align:center;
margin-top:50px;
}
